*{
    box-sizing: border-box;
    scroll-behavior: smooth;
}

html{
    margin: 0 !important;
}

/* BODY */

body{
    font-family: 'Exo';
    background-color: #444444;
    max-width: 1920px;
    margin : 0;
    display:grid;
    grid-template-columns: auto;
    
}

.body_grid{
    display: grid;
    grid-template-columns: 75px repeat(12, 1fr) 75px;
    grid-template-rows: auto auto auto auto auto auto auto;

}

p{
    margin: 0;
}


/* MENU */

/* header{
    display: grid;
    background-color: #000000;
    grid-template-columns: 1fr 40% 2% 1fr 1fr 1fr 1fr 1fr 1fr 50px;
    grid-template-rows: 10px 1fr 8px ;
    position: fixed;
    z-index: 1;
} */

#menu_logo{
    grid-column: 2;
    grid-row: 2;
}

#menu_logo_link{
    width: 75%;
    justify-self: center;
    align-self: center;
}

#menu_accueil{
    font-size: 1.2vw;
    grid-column: 4;
    grid-row: 2;
    justify-self: center;
    align-self: center;
    text-transform: uppercase;
}

#menu_projet{
    font-size: 1.2vw;
    grid-column: 5;
    grid-row: 2;
    justify-self: center;
    align-self: center;
    text-transform: uppercase;
}

#menu_asbl{
    font-size: 1.2vw;
    grid-column: 6;
    grid-row: 2;
    justify-self: center;
    align-self: center;
    text-transform: uppercase;
}

#menu_agenda{
    font-size:1.2vw;
    grid-column: 7;
    grid-row: 2;
    justify-self: center;
    align-self: center;
    text-transform: uppercase;
}

#menu_news{
    font-size: 1.2vw;
    grid-column: 8;
    grid-row: 2;
    justify-self: center;
    align-self: center;
    text-transform: uppercase;
}

#menu_galerie{
    font-size: 1.2vw;
    grid-column: 9;
    grid-row: 2;
    justify-self: center;
    align-self: center;
    text-transform: uppercase;
}

.menu_link:link, .menu_link:visited{
    color : #ffffff ;
    text-decoration: none;
    border-radius: 15px;
    font-weight: 600;
}

.menu_link:hover, .menu_link:active{
    background-color: #444444;
    padding: 4px 10px;    
}


/* SLOGAN */

.slogan {
    background-image: url("../image/landscape.png");
    background-size: 150%;
    background-position: center top;
    background-repeat: no-repeat;
    display : grid;
    height: auto;
    grid-template-rows: auto;
    grid-column-gap: 30px ;
}

.slogan .col{
    justify-self: center;
    align-self: center;
    padding : 40vh 0 ;
    /* margin-top : 10%;  */
}

.slogan_titre{
    font-size: 3rem;
    justify-self: center;
    align-self: center;
    color : white ;
    font-weight: 600;
    text-shadow: 5px 2px black;
}


/* INTRO */

#intro_container{
    display: grid;
    height: auto;
    grid-template-columns: 1vw repeat(12, 1fr) 1vw;
    grid-template-rows: auto ;
    grid-column-gap: 30px ;
    grid-row-gap: 30px; 
    background-color: #444444;
    padding: 1% 0;
}

#intro_link{
    justify-self: center;
    color: #ffffff;
    text-transform: uppercase;
}

#intro_link{
    font-size : 1.6vw;
    font-weight: 600;
    grid-row: 1;
    grid-column: 6/10;
    justify-self: center;
    align-self: center;
    border-color: #ffffff;
    border-radius: 15px;
    padding: 4px 10px;
}

#intro_link:link, #intro_link:visited{
    color : #66ed5d;
    text-decoration: none;
}

#intro_link:hover, #intro_link:active{
    background-color: #000000;    
    padding: 4px 10px;  
}

#intro_texte{
    font-size : 1vw;
    color: #ffffff;
    grid-column: 4 / 12;
    grid-row : 2;
    justify-self: center;
    text-align : justify;
}

q{
    grid-column: 4 /12;
    grid-row: 3;
    font-size: 1.8vw;
    justify-self: center ;
    color: white;
}


/* AGENDA */

 #agenda_container{
    display: grid;
    background-color: #ffffff;
    grid-template-columns: 1vw repeat(12, 1fr) 1vw;
    grid-column-gap: 30px;
    grid-template-rows: 1vw 2vw 5% 30vw 5%;
    height: 40vw;
}

#agenda_link{
    text-transform: uppercase;
    font-size : 1.6vw;
    font-weight: 600;
    grid-row: 2;
    grid-column: 6/10;
    justify-self: center;
    align-self: center;
    border-color: #ffffff;
    border-radius: 15px;
    padding: 4px 10px;
}

#agenda_link:link, #agenda_link:visited{
    color : #66ed5d;
    text-decoration: none;
}

#agenda_link:hover, #agenda_link:active{
    background-color: #444444;
    padding: 4px 10px;  
}

#agenda_event_block1_link{
    grid-column: 2/6;
    grid-row: 4;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
}

#agenda_event_block1{
    grid-column: 1;
    grid-row: 1;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr; 
}

#agenda_event_block2{
    grid-column: 6/ 10;
    grid-row: 4;
    width: 100%;
    height: auto;
}

#agenda_event_block3{
    grid-column: 10/14;
    grid-row: 4;
    width: 100%;
    height: auto;
}

#agenda_event_image1{
    grid-column:1;
    grid-row: 1;
    width: 100%;
    height: auto;
}

#agenda_event_image2{
    grid-column: 6/ 10;
    grid-row: 4;
    width: 100%;
    height: auto;
}

#agenda_event_image3{
    grid-column: 10/14;
    grid-row: 4;
    width: 100%;
    height: auto;
}

.agenda_event_date{
    font-size: 1.5vw ;
    padding: 5% 7%;
    color : white ;
    font-weight: 600;
    text-shadow: 5px 2px black;
    text-transform: uppercase;
    text-decoration: none;
}

#agenda_event_date1{
    grid-column: 1;
    grid-row: 1 ;
    -webkit-filter: none;
    filter: none;
}

#agenda_event_date2{
    grid-column: 6/10;
    grid-row: 4 ;
    -webkit-filter: none;
    filter: none;
}

#agenda_event_date3{
    grid-column: 10/14;
    grid-row: 4 ;
    -webkit-filter: none;
    filter: none;
}

div#agenda_event_block1:hover img, div#agenda_event_block2:hover img, div#agenda_event_block3:hover img{
    -webkit-filter: opacity(50%);
    filter: opacity(50%);
}

/* #agenda_event1:hover, #agenda_event2:hover, #agenda_event3:hover{
    -webkit-filter: opacity(50%);
    filter: opacity(50%);
} */



/* NEws */

#news_container{
    display: grid;
    grid-template-columns: 1vw repeat(12, 1fr) 1vw;
    grid-column-gap: 30px;
    grid-template-rows: 1vw 2vw 5% 30vw 5%;
    height: 30vw;
}

#news_link{
    text-transform: uppercase;
    font-size : 1.6vw;
    font-weight: 600;
    grid-row: 2;
    grid-column: 6/10;
    justify-self: center;
    align-self: center;
    border-radius: 15px;
    padding: 4px 10px;}

#news_link:link, #news_link:visited{
    color : #66ed5d;
    text-decoration: none;
}

#news_link:hover, #news_link:active{
    background-color: #000000;
    padding: 4px 10px;  
}

#news_article1{
    grid-column:2/5;
    grid-row: 4;
    width: 100%;
    height: auto;
}

#news_article2{
    grid-column:5/8;
    grid-row: 4;
    width: 100%;
    height: auto;
}

#news_article3{
    grid-column:8/11;
    grid-row: 4;
    width: 100%;
    height: auto;
}

#news_article4{
    grid-column: 11/14;
    grid-row: 4;
    width: 100%;
    height: auto;
}

.news_article_titre{
    text-transform: uppercase;
    font-size: 1.5vw ;
    padding: 5% 7%;
    color : white ;
    font-weight: 600;
    text-shadow: 5px 2px black;
    -webkit-filter: brightness(100%);
    filter: brightness(100%);
}

#news_article_titre1{
    grid-column: 2/5;
    grid-row: 4 ;
}

#news_article_titre2{
    grid-column: 5/8;
    grid-row: 4 ;
}

#news_article_titre3{
    grid-column: 8/11;
    grid-row: 4 ;
}

#news_article_titre4{
    grid-column: 11 / 14 ;
    grid-row: 4;
}

#news_article1:hover, #news_article2:hover, #news_article3:hover, #news_article4:hover{
    -webkit-filter: brightness(150%);
    filter: brightness(150%);
}


/* FOOTER */

footer{
    background-color: #737373;
    display: grid;
    grid-template-columns: 1vw repeat(12, 1fr) 1vw;
    grid-column-gap: 30px;
    grid-template-rows: 2vw 10vw 2vw;
    grid-row-gap: 30px;
    padding-top: 1vw;
    font-size: 1vw;
    color: white;
}

#footer_coordonnees_titre{
    grid-column: 3/5;
    grid-row: 1;
    text-transform: uppercase;
    font-weight: 800;
    font-size: 1.2vw;
}

#footer_coordonnees_content{
    grid-column: 3/6;
    grid-row: 2;
}

#footer_map_titre{
    grid-column: 6/8;
    grid-row: 1;
    text-transform: uppercase;
    font-weight: 800;
    font-size: 1.2vw;
}

#footer_map_content{
    grid-column: 6/8;
    grid-row: 2;
}

#footer_asbl_titre{
    grid-column: 8/13;
    grid-row: 1;
    text-transform: uppercase;
    font-weight: 800;
    font-size: 1.2vw;
}

#footer_asbl_content{
    grid-column: 8/13;
    grid-row: 2;
}

.fab{
    margin : 10px;
    color: #66ed5d;
}

.fab:link, .fab:visited{
    color: #66ed5d;
}

.fab:hover, .fab:active{
    color: white;
}

#footer_copyright{
    grid-column: 1 / 15;
    grid-row: 3;
    background-color: #000000;
    display: grid;
    grid-template-columns: 1vw repeat(12, 1fr);
    grid-gap: 30px;
}

#footer_copyright_content{
    grid-column: 3/15;
    grid-row: 1;
    color: white;
    padding-top: 5px;
    padding-bottom: 5px;
}

.footer_link{
    font-weight: 600;
    text-decoration: none;
    font-size: 1vw;
}

.footer_link:link, .footer_link:visited{
    color : #66ed5d;
}

.footer_link:hover, .footer_link:active{
    text-decoration: underline;
}











/* Partie page de présentation de l'asbl*/

#asbl_image1{
    grid-column: 1/16;
    grid-row: 2/3;
}

#presentation_titre{
    font-size : 25pt;
    grid-column: 6/ 10;
    color: white;
    text-transform: uppercase;
    grid-row: 2;
    margin-top: 20%;
    justify-self: center
}

.presentation_chapeau{
    grid-column: 5/ 11;
grid-row: 2;
margin-top: 20%;
}

#chapeau{
    margin : 30px;
    font-size : 14pt;
    color: white;
    justify-self: center;

}

.presentation_text{
    grid-column: 8/ 14;
    grid-row: 4;
}

#asbl_text{
color: white;
font-size: 14pt;
justify-self: center;
}

.photo_asbl{
grid-column: 2/7;
grid-row: 4;
margin-top: 10%;
margin-bottom: 10%;

}
.team{
grid-row: 5/8;
grid-column: 1/ 16;
background-color: #ffffff;
}


#img_josia{
grid-column: 9/14;
grid-row: 5;
margin-top: 10%;
}

#img_marti{
grid-column: 4/9;
grid-row: 5;
margin-top: 10%;
}

#m_name{
grid-row: 6;
grid-column: 4/6;
text-align: center;
font-size: 2em;

}

#j_name{
    grid-row: 6;
    grid-column: 9/11;
    text-align: center;
    font-size: 2em;
    }

 #j_text{
        grid-row: 7;
        grid-column: 8/12;
        font-size: 1em;

    }

 #m_text{
        grid-row: 7;
        grid-column: 3/7;
        font-size: 1em;

    }

    /*partie page d'article*/

.head_article{
grid-column: 1/16;
grid-row: 2;

}
.head_article_text{
    grid-row: 2;
    margin-top: 10%;
    grid-column: 1/16;
    }
    h1{
        font-family: 'Exo';
    }
    #article_title{
margin-top: 15%;
color: white;
text-align: center;
font-size: 3em;

    }
    #article_subtitle{
        color: white;
        text-align: center;
        font-size: 1 em;
        
            }
#article_content{
    grid-row: 3;
    grid-column: 5/11;
    margin-top: 10%;
    color: white;
}

/*Partie Agenda*/

.agenda_titre{
    font-size : 25pt;
    grid-column: 6/ 10;
      color: white;
    text-transform: uppercase;
    grid-row: 2;
    margin-top: 20%;
    justify-self: center
}

.nearest_event1{
grid-column: 1/8;
grid-row: 3;
margin-top: 3%;
}

.nearest_event2{
grid-column:8/16;
grid-row: 3;
margin-top: 3%;
}


.nearest_event_date{
    font-size: 1.5vw ;
    padding: 5% 7%;
    color : white ;
    font-weight: 600;
    text-shadow: 5px 2px black;
    text-transform: uppercase;
}

#nearest_event-date1{
    margin-top: 15%;
    grid-column: 2/6;
    grid-row: 3 ;
    -webkit-filter: none;
    filter: none;
}

#nearest_event-date2{
    margin-top: 15%;
    grid-column: 9/15;
    grid-row: 3 ;
    -webkit-filter: none;
    filter: none;
}


/* !!!! attention veiller à changer les noms des classes et ID de agenda_container
afin de ne pas avoir de problème dans le CSS !!!! */

.agenda_container{
    grid-column: 1/16;
    grid-row: 4;
    display: grid;
    grid-template-columns: 1vw repeat(12, 1fr) 1vw;
    grid-column-gap: 30px;
    grid-template-rows: 1vw 2vw 5% 30vw 5%;
    height: 40vw;
    margin-top: -3%;
}

#agenda_event1{
    grid-column:2/6;
    grid-row: 4;
    width: 100%;
    height: relative;
}

#agenda_event2{
    grid-column: 6/ 10;
    grid-row: 4;
    width: 100%;
    height: relative;
}

#agenda_event3{
    grid-column: 10/14;
    grid-row: 4;
    width: 100%;
    height: relative;
}

.agenda_event_date{
    font-size: 1.5vw ;
    padding: 5% 7%;
    color : white ;
    font-weight: 600;
    text-shadow: 5px 2px black;
    text-transform: uppercase;
}

#agenda_event-date1{
    grid-column: 2/6;
    grid-row: 4 ;
    -webkit-filter: none;
    filter: none;
}

#agenda_event-date2{
    grid-column: 6/10;
    grid-row: 4 ;
    -webkit-filter: none;
    filter: none;
}

#agenda_event-date3{
    grid-column: 10/14;
    grid-row: 4 ;
    -webkit-filter: none;
    filter: none;
}

#agenda_event1:hover, #agenda_event2:hover, #agenda_event3:hover{
    -webkit-filter: opacity(50%);
    filter: opacity(50%);
}



/*partie mentions légales*/

.mentions_titre{
    font-size : 25pt;
    grid-column: 6/ 10;
      color: white;
    text-transform: uppercase;
    grid-row: 2;
    margin-top: 20%;
    justify-self: center
}

#mentions_content{
    grid-row: 3;
    grid-column: 5/11;
    margin-top: 10%;
    color: white;
}